body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 2%;
}

h2{
    text-align: center;
}
h6{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 2%;
}

.card-intro{
    text-align: center;
}
.card-text{
    text-align: center;
    font-style: italic;
    font-size: large;
}