body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column wrap;
    min-height: 100vh;
    gap: 10px;
    padding: 2%;
    background: url('https://t4.ftcdn.net/jpg/01/03/58/85/360_F_103588568_anFch0KofnmcER5zREeyCDnW5bXqooVE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h6{
    text-align: center;
}

.app-title{
    text-align: center;
    font-size: larger;
    font-style: bold;
    padding: 2%;
    background: rgba(255, 255, 255, 0.75);
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 18rem;
    padding: 2%;
    border: solid lightgray 1px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
}

.card{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
}
.card-intro{
    text-align: center;
}
.card-text{
    text-align: center;
    font-style: italic;
    font-size: large;
}
.list-group-item{
    background: rgba(255, 255, 255, 0);
}

